body{text-align: center;}
a{background: #e6e6ff; color: #ff0000;}
h1{background-color: #808080; color: #ffffff; font-size: 28px; padding: 10px;}
h2{background-color: #0000ff; color: #ffffff; font-size: 9px; padding: 5px;}